body{

    background-color: azure;
}

h2 {  font-size:50px;
    color:rgb(97, 20, 32);
    font-style: italic;
    font-family: 'Babylonica', cursive;
    font-family: 'Montserrat', sans-serif;
   
}
p{
    font-size:25px;
    color:rgb(212, 138, 150);
    font-style: italic;
    font-family: 'Zeyada', cursive;
}
h3 { 
    font-size:50px;
    color:rgb(97, 20, 32);
    font-style: italic;
    font-family: 'Babylonica', cursive;
font-family: 'Montserrat', sans-serif;
}

.buttons-links {
    border-style: solid;
    border-color: crimson;
    border-width: 2px;
    background-color: burlywood;
}

.tylers-button {


}

.top-banner{
    height:240px;
    text-align:center;
    padding-top: 90px;
    background-color: cornflowerblue;
    overflow: hidden;
}
.body{
    max-width:800px;
    margin:0 auto ;
    padding: 0 10px;
}

.footer{
    height:100px;
    text-align:center ;
    padding:10px 0;
}

