body{

    background-color: azure;
}

h2 {  font-size:50px;
    color:rgb(97, 20, 32);
    font-style: italic;
    font-family: 'Babylonica', cursive;
    font-family: 'Montserrat', sans-serif;
   
}
p{
    font-size:25px;
    color:rgb(212, 138, 150);
    font-style: italic;
    font-family: 'Zeyada', cursive;
}
h3 { 
    font-size:50px;
    color:rgb(97, 20, 32);
    font-style: italic;
    font-family: 'Babylonica', cursive;
font-family: 'Montserrat', sans-serif;
}

.buttons-links {
    border-style: solid;
    border-color: crimson;
    border-width: 2px;

}