body{

    background-color: azure;
}

html{
    scroll-behavior: smooth;
}

h2 {  font-size:50px;
    color:rgb(97, 20, 32);
    font-style: italic;
    font-family: 'Babylonica', cursive;
    font-family: 'Montserrat', sans-serif;
   
}
p{
    font-size:25px;
    color:rgb(212, 138, 150);
    font-style: italic;
    font-family: 'Zeyada', cursive;
}
h3 { 
    font-size:50px;
    color:rgb(97, 20, 32);
    font-style: italic;
    font-family: 'Babylonica', cursive;
font-family: 'Montserrat', sans-serif;
}

.buttons-links {
    border-style: solid;
    border-color: crimson;
    border-width: 2px;
    background-color: burlywood;
}

.tylers-button {
    border-style: solid;
    border-color: rgb(127, 59, 216);
    border-width: 2px;
    background-color: rgb(186, 219, 228);
    box-shadow: inset;

}


nav{
padding: 20px;
background-color: antiquewhite;
position: fixed;
width: 100%;
}

.nav-links{
    list-style-type: none;
    width: 300px;
    margin: 0 auto;
    padding: 0;
}

.nav-links li{
    display: inline;
}

#myfirstid{

}

.nav-links li a{
padding-left: 10px;
padding-right: 10px;
}
.top-banner{
    height:240px;
    text-align:center;
    padding-top: 90px;
   background-size: cover;
   background-attachment: fixed;
    background-image: url("https://media.istockphoto.com/id/1135912301/photo/painted-color-background.jpg?b=1&s=170667a&w=0&k=20&c=xGceu5RLxqWJBWEJgpGxtf2w9vXhSpiFHeyl82-UHnw=");
    overflow: hidden;

}
.body{
    max-width:800px;
    margin:0 auto ;
    padding: 0 10px;
    background-color: rgb(147, 178, 235);
}

.footer{
    height:100px;
    text-align:center ;
    padding:10px 0;
    background-color:rgb(195, 212, 241)
}

